<% if @query_results.is_a?(Hash) %>
    <div class="alert alert-secondary">
      <h2>whoops!</h2>
      <hr>
      <p><%= @query_results[:error] %></p>
    </div>
<% elsif @query_results %>
    <div class="card">
      <h1 class="card-header">Ticker: <%= @query_results.term %></h1>
      <div class="card-body">
        <p class="card-text">Current Price: $<%= @query_results.last_search.result %></p>
        <p class="card-text">Total Searches: <%= @query_results.times_searched %></p>
      </div>
    </div>
    <hr>
    <h2>Search History for <%= @query_results.term %></h2>
    <ol class="list-group list-group-flush">
      <% @query_results.search_instances.each do |si| %>
          <li class="list-group-item">$<%= si.result %>  @ <%= si.created_at.strftime('%I:%M %p GMT on %m/%d/%Y') %></li>
      <% end %>
    </ol>
<% else %>
    <h1>Welcome to the <small>mini</small> Crypto Searcher!</h1>
    <h5>Some things you should know before clicking around...</h5>
    <hr>
    <ul>
      <li>We're connecting with Binance.com's ticker price API</li>
      <li>We can only retrieve coins for which Binance has a USDT pair</li>
      <li>You must search via ticker symbol; example: Ethereum = ETH</li>
    </ul>
<% end %>